* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f7faf7;
  color: #333;
}

/* HEADER */
header {
  background: #2f6f4e;
  color: white;
  padding: 20px;
  text-align: center;
}

header h2 {
  margin: 0 0 15px;
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 6px;
}

nav a:hover {
  background: #24583e;
}

/* BERANDA */
.hero {
  min-height: 70vh;
  padding: 120px 25px;
  text-align: center;
  background: #dfeee3;
}

.hero h1 {
  font-size: 45px;
  color: #2f6f4e;
  margin: 15px 0;
}

.hero p {
  max-width: 600px;
  margin: 10px auto;
  line-height: 1.7;
}

/* ISI */
section {
  max-width: 900px;
  margin: 40px auto;
  padding: 35px 25px;
  background: white;
  border-radius: 12px;
}

section h1 {
  color: #2f6f4e;
}

section p {
  line-height: 1.8;
}

/* BOX */
.box {
  margin-top: 25px;
  padding: 20px;
  background: #e7f2e9;
  border-radius: 10px;
}

/* FOTO KEINDAHAN */
.gambar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 25px;
}

.gambar img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}

/* GALERI */
.galeri {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 25px;
}

.galeri img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}

/* MAPS */
iframe {
  width: 100%;
  border-radius: 12px;
  margin-top: 15px;
}

/* FOOTER */
footer {
  margin-top: 60px;
  padding: 25px;
  text-align: center;
  background: #2f6f4e;
  color: white;
}

/* HP */
@media (max-width: 600px) {

  .hero {
    min-height: 65vh;
    padding: 100px 20px;
  }

  .hero h1 {
    font-size: 38px;
  }

  section {
    margin: 25px 15px;
    padding: 25px 20px;
  }

  .gambar img,
  .galeri img {
    height: 230px;
  }

  nav a {
    font-size: 13px;
  }
}
